<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>USB Guide</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <style type="text/css">
    //@@style.css
    </style>
</head>
<body onselectstart="return false;">
    <div class="g-stage"></div>

    <script type="text/template" id="connecting-start">
        <div class="g-ctn g-connecting-start">
            <div class="bg">
                <div class="g-progress-running"></div>
            </div>
            <div class="g-tips h5 w-text-secondary"><%= i18n.CONNECTION_START %></div>
        </div>
    </script>
    <script type="text/template" id="downloading">
        <div class="g-ctn g-downloading">
            <div class="bg">
                <div class="wording">Downloading</div>
            </div>
            <div class="g-tips h5 w-text-secondary"><%= i18n.DOWNLOADING_TIP %></div>
            <div class="g-progress">
                <div class="inner"></div>
            </div>
            <div class="g-tips h6 w-text-info"><%= i18n.SPEED_TIP %></div>
        </div>
    </script>
    <script type="text/template" id="installing">
        <div class="g-ctn g-installing">
            <div class="bg">
                <div class="wording">Installing</div>
            </div>
            <div class="g-tips h5 w-text-secondary"><%= i18n.INSTALLING_TIP %></div>
        </div>
    </script>
    <script type="text/template" id="installing-credit">
        <div class="g-ctn g-installing-credit">
            <div class="bg">
            </div>
            <div class="g-tips h5 w-text-secondary"><%= i18n.CREDIT_TIP %></div>
            <div class="g-fallback link button-fallback"><%= i18n.CREDIT_FALLBACK_TIP %></div>
        </div>
    </script>
    <script type="text/template" id="install_driver_canceled">
        <div class="g-ctn g-install-driver-canceled">
            <div class="bg">
            </div>
            <div class="g-tips h5 w-text-secondary"><%= i18n.INSTALL_DRIVER_FAILED %></div>
            <div class="g-tips">
              <button class="w-btn w-btn-primary w-btn-large retry-install-driver"><%= i18n.RETRY_INSTALL_DRIVER%></button>
            </div>
        </div>
    </script>
    <script type="text/template" id="download_driver_failed">
        <div class="g-ctn g-download-driver-failed">
            <div class="bg">
            </div>
            <div class="g-tips h5 w-text-secondary"><%= i18n.DOWNLOAD_DRIVER_FAILED %></div>
            <div class="g-tips">
              <button class="w-btn w-btn-primary w-btn-large retry-download-driver"><%= i18n.RETRY_DOWNLOAD_DRIVER%></button>
            </div>
        </div>
    </script>
    <script type="text/template" id="connecting-error">
        <div class="g-ctn g-error">
            <div class="bg">
                <div class="tip w-text-secondary h5">
                    <span><%= i18n.RESET_USB %></span>
                    <span class="tip2"><%= i18n.RESTART_PHONE %></span>
                    <span class="tip3"><%= i18n.RESTART_PC %></span>
                </div>
            </div>
        </div>
    </script>
    <script type="text/template" id="storage_insufficient">
        <div class="g-ctn g-error-storage">
            <div class="bg"></div>
            <div class="g-tips h5 w-text-secondary"><%= i18n.ERROR_STORAGE %></div>
            <button class="button-retry w-btn w-btn-primary w-btn-kaiju"><%= i18n.RETRY %></button>
        </div>
    </script>
    <script type="text/template" id="offline">
        <div class="g-ctn g-error-debug">
            <div class="bg"></div>
            <div class="g-tips h5 w-text-secondary"><%= i18n.USB_DEBUG %></div>
            <div class="g-fallback link button-fallback" id="fallback_tip"><%= i18n.USB_FALLBACK_TIP %></div>
        </div>
    </script>
    <script type="text/template" id="usb-guide">
        <div class="g-ctn g-error-debug">
            <iframe style="height: 100%; width: 100%; border: none" id="usb-guide-iframe"/>
        </div>
    </script>

    <!-- build:js javascripts/main.js -->
    <script data-main="javascripts/main" src="components/requirejs/require.js"></script>
    <!-- endbuild -->
    <script type="text/javascript">
        //@@require.js
    </script>
    <script type="text/javascript">
        //@@main.js
    </script>
</body>
</html>
