<!DOCTYPE html>
<html>
    <head>
        <title>Wandoujia 2.0 USB Debug</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" type="text/css" href="../.tmp/stylesheets/usb-debug.css" />
    </head>
    <body>
        <div class="wrap vbox">
            <div class="container">
                <div class="tmp_select" onselectstart="javascript:return false;"></div>
                <div class="tmp_feedback" onselectstart="javascript:return false;"></div>
                <div class="tmp_silder" onselectstart="javascript:return false;"></div>
                <div class="tmp_detail"></div>
            </div>
            <div class="u-footer w-cf"  onselectstart="javascript:return false;">
                <div class="button-feedback link">还是连不上？我要反馈！</div>
                <div class="button-return link">返回</div>
            </div>
        </div>
        <script type="text/template" id="feedBackView">
            <div>
                <span class="describe">还是连不上怎么办？试试下面的方法吧！</span>
            </div>
            <div class="bottom">
                <div class="left">
                    <div class="bg"></div>
                </div>
                <div class="right sms">
                    <div class="message">
                        <div class="describe">下载快速设置器到手机，打开「USB 调试」开关:</div>
                        <div class="body">
                            <div class="w-form-inline send-message">
                                <input type="text"></input>
                                <button class="w-btn button-send">发送短信</button>
                            </div>
                            <p class="tip w-text-info">请您收到短信后按提示操作</p>
                            <p class="not-a-number w-text-warning">您输入的好像不是一个手机号</p>
                            <p class="connect-error w-text-warning">貌似网络不给力，请稍后再试～</p>
                        </div>
                    </div>
                    <div class="describe">访问豌豆荚帮助中心，获取更多帮助：</div>
                    <div class="href-container">
                        <a class="href usb-help" href="http://help.wandoujia.com/entries/21550377-usb" target="_default"><div class="img"></div><span class="wording">查看打开「USB 调试」的帮助</span></a>
                        <a class="href usb-bbs" href="http://help.wandoujia.com/anonymous_requests/new?guid=null&clientVersion=null" target="_default"><div class="img"></div><span class="wording">发帖求助，让专业的豌豆们帮您解答</span></a>
                    </div>
                </div>
                <div class="right qr">
                    <div class="message">
                        <div class="describe">下载「USB 调试快速设置器」到手机</div>
                        <div class="body">
                            <div class="qr">
                                <div class="bg"></div>
                            </div>
                            <div class="huo"></div>
                            <div class="short-url">
                                <p class="w-text-info">在手机浏览器中输入 :</p>
                                <p class="url">http://wandou.im/wusb</p>
                            </div>
                        </div>
                    </div>
                    <div class="describe">访问豌豆荚帮助中心，获取更多帮助：</div>
                    <div class="href-container">
                        <a class="href usb-help" href="http://help.wandoujia.com/entries/21550377-usb" target="_default"><div class="img"></div><span class="wording">查看打开「USB 调试」的帮助</span></a>
                        <a class="href usb-bbs" href="http://help.wandoujia.com/anonymous_requests/new?guid=null&clientVersion=null" target="_default"><div class="img"></div><span class="wording">发帖求助，让专业的豌豆们帮您解答</span></a>
                    </div>
                </div>
            </div>
        </script>
        <script type="text/template" id="selectView">
                <h6 class="describe w-text-info">请根据您的系统版本选择：</h6>
                <ul class="select systems w-cf">
                <%
                    _.each(systems, function (system) {
                %>
                    <li class="u-shadow system <%= system.className %>">
                        <div class="top"></div>
                        <div class="h5 title"><%= system.name %></div>
                    </li>
                <%
                    });
                %>

                    <li class="u-shadow system howto">
                        <div class="top">
                            <a target="_default"></a>
                        </div>
                        <div class="h5 title">
                             <a target="_default">如何识别手机系统是什么？</a>
                        </div>
                    </li>
                </ul>
        </script>
        <script type="text/template" id="sliderView">

        </script>
        <script type="text/template" id="detailView">
            <h6 class="describe w-text-info">请将以下信息复制下来，粘贴到和豌豆工程师的聊天窗口中发给我们</h6>
            <textarea class="user-detail"></textarea>
        </script>
        <!--[if IE 6]>
            <script src="javascripts/DD_belatedPNG_0.0.8a-min.js"></script>
        <![endif]-->
        <!-- build:js javascripts/usb-debug.js -->
        <script type="text/javascript" src="components/jquery/jquery.js"></script>
        <script type="text/javascript" src="components/underscore/underscore.js"></script>
        <script type="text/javascript" src="javascripts/usb-debug/usb-debug.js"></script>
        <!-- endbuild -->
    </body>
</html>
