input {
    height: 24px;
    line-height: 24px;
    margin-right: 5px;
    width: 140px;
    margin-left: -35px;
}

.u-select-view {
    .select {
        li {
            .top {
                filter: alpha(opacity=6);
            }

            &.hover {
                .top {
                    filter: alpha(opacity=0);
                }
            }
        }
    }
}

.u-feedback-ctn {
    .href-container {
        .href {
            .img {
                font-size: 10px;
                line-height: 10px;
            }
        }
    }
}

.u-slider-view {
    .warp {
        .course-li {
            &.init {
                img {
                    filter: alpha(opacity=60);
                }
            }

            &.go-current {
                img {
                    filter: alpha(opacity=100);
                }
            }

            &.go-before {
                img {
                    filter: alpha(opacity=60);
                }
            }
        }
    }

    .navigation {
        .button {
            &.left {

            }
        }
    }
}
