@import "../thirdparty/Adonis/sass/standardColors";
@import "../thirdparty/Adonis/sass/reset";
@import "../thirdparty/Adonis/sass/layout";
@import "../thirdparty/Adonis/sass/typography";
@import "../thirdparty/Adonis/sass/form";

@import "usb-debug/*.png";
@import "compass/css3";
@import "compass/css3/user-interface";

.w-btn {
    @include background-image(linear-gradient($btnBgColorFrom, $btnBgColorTo));
    @include border-radius(3px);
    @include filter-gradient($btnBgColorFrom, $btnBgColorTo);
    @include inline-block();
    @include single-box-shadow(#fff, 0, 1px, 0, false, true);
    @include single-text-shadow(0, 1px, 0, false, #fff);

    border: 1px $btnBorderColor solid;
    color: $btnTextColor;
    cursor: pointer;
    height: 30px;
    min-width: 60px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none;

    &:hover,
    &.hover {
        @include background-image(linear-gradient($btnHoverBgColorFrom, $btnHoverBgColorTo));

        color: #000;
        text-decoration: none;
    }

    &:active,
    &.active {
        @include background-image(linear-gradient($btnActiveBgColorFrom, $btnActiveBgColorTo));
        @include filter-gradient($btnActiveBgColorFrom, $btnActiveBgColorTo);

        color: #000;
        text-decoration: none;
    }

    &:disabled,
    &.disabled {
        @include background-image(linear-gradient($btnBgColorFrom, $btnBgColorTo));
        @include filter-gradient($btnBgColorFrom, $btnBgColorTo);
        @include opacity($disabledOpacity);

        color: $btnTextColor;
        //opacity: $disabledOpacity;
    }


    &.w-btn-primary {
        @include background-image(linear-gradient($btnPrimaryBgColorFrom, $btnPrimaryBgColorTo));
        @include filter-gradient($btnPrimaryBgColorFrom, $btnPrimaryBgColorTo);
        @include single-box-shadow(#72c261, 0, 1px, 0, false, true);
        @include single-text-shadow(0, 1px, 0, false, rgba(0, 0, 0, .2));

        border-color: $btnPrimaryBorderColor;
        color: $btnPrimaryTextColor;

        &:hover,
        &.hover {
            @include background-image(linear-gradient($btnPrimaryHoverBgColorFrom, $btnPrimaryHoverBgColorTo));
            @include single-box-shadow(#79d367, 0, 1px, 0, false, true);
        }

        &:active,
        &.active {
            @include background-image(linear-gradient($btnPrimaryActiveBgColorFrom, $btnPrimaryActiveBgColorTo));
            @include filter-gradient($btnPrimaryActiveBgColorFrom, $btnPrimaryActiveBgColorTo);
            @include single-box-shadow(#72c261, 0, 1px, 0, false, true);
        }


        &:disabled,
        &.disabled {
            @include background-image(linear-gradient($btnPrimaryBgColorFrom, $btnPrimaryBgColorTo));
            @include filter-gradient($btnPrimaryBgColorFrom, $btnPrimaryBgColorTo);
            @include single-box-shadow(#72c261, 0, 1px, 0, false, true);

            color: $btnPrimaryTextColor;
        }
    }
}

html,
body,
.wrap {
    @include user-select(none);

    height: 100%;
    overflow: hidden;
    width: 100%;
}

.wrap {
    background-color: #f6f6f6;
    position: relative;

    .w-ui-loading {
        display: block;
    }
}

.u-shadow {
    @include single-box-shadow(#999, 0, 1px, 10px, false, false);
}

.u-footer {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;

    .button-feedback,
    .button-return,
    .button-more {
        @include inline-block;

        background-image: none;
        cursor: pointer;
        float: right;
        height: 30px;
        line-height: 30px;
        margin: 15px;
    }

    .button-check-usb-debug {
        float: right;
        margin: 15px;
    }

    .button-video {
        height: 30px;
        margin-left: 15px;
        margin-top: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 100px;

        .play {
            @include usb-debug-sprite(playVideo);

            display: inline-block;
            height: 20px;
            margin-top: -1px;
            margin-right: 6px;
            vertical-align: top;
            width: 20px;
        }
    }
}

.u-select-view {
    display: none;

    .describe {
        margin-left: auto;
        margin-right: auto;
        padding: 0px 0px 10px;
        width: 540px;
    }

    .select {
        color: #505050;
        list-style: none;
        margin: 0 auto;
        width: 540px;

        li {
            cursor: pointer;
            float: left;
            height: 108px;
            overflow: hidden;
            position: relative;
            width: 108px;

            .top {

                @include opacity(0.06);

                background: #000;
                height: 100%;
                position: absolute;
                top: 0;
                width: 100%;
                -webkit-transition: opacity .2s;
            }

            .logo {
                height: 50px;
                margin: 13px auto 0;
                width: 110px;

                @each $logo in htc, huawei, lenovo, xiaomi,
                        motorola, nexus, samsung, sony, zte, ktouch, vivo {
                    &.#{$logo} {
                        @include usb-debug-sprite(#{$logo});
                    }
                }
            }

            .system-logo {
                height: 62px;
                margin: 6px auto 0;
                width: 110px;
            }

            .title {
                @include single-text-shadow(0, 2px, 3px, false, rgba(0, 0, 0, .21));

                margin-top: 5px;
                text-align: center;
            }

            .check-course {

                @include opacity(0.7);

                background-color: #000;
                bottom: -25px;
                color: #fff;
                height: 25px;
                line-height: 25px;
                position: absolute;
                text-align: center;
                vertical-align: middle;
                width: 100%;
                -webkit-transition: all .2s linear;

                .play {
                    @include inline-block();
                    @include usb-debug-sprite(play);

                    height: 16px;
                    margin-right: 5px;
                    overflow: hidden;
                    position: relative;
                    top: 4px;
                    vertical-align: top;
                    width: 16px;
                }

                .info {
                    @include inline-block();
                }
            }

            &.hover {
                .top {
                    @include opacity(0);
                }

                .check-course {
                    bottom: 0;
                }
            }

            &.system {
                height: 50px;

                .title {
                    line-height: 1.3em;
                    margin-top: 7px;

                    &.signle-line {
                        margin-top: 0;
                    }
                }

                &.gingerbread,
                &.ics,
                &.jeallybean,
                &.meizu {
                    background-color: #f9fbfc;
                    background-image: -webkit-radial-gradient(85% 15%, #f9fbfc 7%, #f3f3f3 100%);
                }

                &.meizu,
                &.miuios,
                &.jeallybean {
                    .title {
                        margin-top: 15px;
                    }
                }

                &.miuios {
                    background-color: #ffa43b;
                    background-image: -webkit-radial-gradient(85% 15%, #ffa43b 3%, #fa6b06 100%);
                    color: white;
                }
            }

            &.brand {
                color: #fff;

                &.nobrands {
                    background-color: #f8f8f8;
                    background-image: -webkit-radial-gradient(85% 15%, #f8f8f8 7%, #dfdfdf 100%);
                    cursor: default;
                }

                &.samsung {
                    background-color: #4ba1fe;
                    background-image: -webkit-radial-gradient(85% 15%, #4ba1fe 0%, #375dbf 100%);
                }

                &.lenovo {
                    background-color: #6c6c6c;
                    background-image: -webkit-radial-gradient(85% 15%, #6c6c6c 19%, #4a4a4a 100%);
                }

                &.huawei,
                &.ktouch {
                    background-color: #f9fbfc;
                    background-image: -webkit-radial-gradient(85% 15%, #f9fbfc 7%, #f3f3f3 100%);
                    color: #505050;
                }

                &.xiaomi {
                    background-color: #ffa43b;
                    background-image: -webkit-radial-gradient(85% 15%, #ffa43b 3%, #fa6b06 100%);
                }

                &.sony {
                    background-color: #6c6c6c;
                    background-image: -webkit-radial-gradient(85% 15%, #6c6c6c 17%, #525252 100%);
                }

                &.zte {
                    background-color: #47f7ff;
                    background-image: -webkit-radial-gradient(85% 15%, #47f7ff 7%, #1498ef 100%);
                }

                &.htc {
                    background-color: #22dc00;
                    background-image: -webkit-radial-gradient(85% 15%, #afff5c 12%, #22dc00 100%);
                }

                &.motorola {
                    background-color: #ff8063;
                    background-image: -webkit-radial-gradient(85% 15%, #ff8063 0%, #dd3c44 100%);
                }

                &.vivo{
                    background-color: #6ec8fb;
                    background-image: -webkit-radial-gradient(85% 15%, #6ec8fb 7%, #0084ce 100%);
                }
            }
        }

        &.systems {
            margin-top: 20px;
        }
    }
}

.u-feedback-ctn {
    display: none;
    height: 345px;
    margin: 15px auto;
    padding: 15px;
    position: relative;
    width: 600px;

    .number {
        @include usb-debug-sprite(bullet_list);
        @include inline-block();

        color: #fff;
        height: usb-debug-sprite-height(bullet_list);
        line-height: 27px;
        margin-right: 5px;
        text-align: center;
        vertical-align: middle;
        width: usb-debug-sprite-width(bullet_list);
    }

    .describe,
    .return {
        @include inline-block();
    }

    .body {
        margin-left: 35px;
    }

    .message {
        margin-top: 20px;

        .send-message {
            height: 45px;

            p {
                display: none;
            }
        }
    }

    .href-container {
        .href {
            display: block;
            line-height: 25px;

            .img {
                @include inline-block();
                @include usb-debug-sprite(bullet_arrow);

                height: usb-debug-sprite-height(bullet_arrow);
                margin-right: 10px;
                vertical-align: middle;
                width: usb-debug-sprite-width(bullet_arrow);
            }

            .wording {
                @include inline-block();

                vertical-align: middle;
            }
        }
    }
}

.u-slider-view {
    display: none;
    margin: 0px auto;
    padding: 15px;
    position: relative;
    width: 540px;

    .title {
        height: 22px;
        line-height: 22px;
        text-align: center;
    }

    .describe {
        font-size: 16px;
        line-height: 22px;
    }

    .connect-error {
        height: 369px;
        text-align: center;

        .w-ui-loading {
            left: 50%;
            margin: -23px 0 0 -23px;
            position: absolute;
            top: 50%;

            img {
                @include inline-block;
            }
        }

        .error-des {
            bottom: 15px;
            left: 0;
            position: absolute;
            text-align: center;
            width: 100%;
        }

        .button-reload {
            margin: 10px;
        }
    }

    .slider-container {
        display: none;
        margin-top: 10px;
        position: relative;
        width: 522px;

        .button {
            cursor: pointer;
            height: 280px;
            position: absolute;
            width: 174px;
            z-index: 10000;


            .icon {
                height: 42px;
                position: absolute;
                top: 119px;
                width: 24px;
            }

            &.left {
                left: 0;

                .icon {
                    @include usb-debug-sprite(switch_default_left);
                }

                &.hov {
                    .icon {
                        @include usb-debug-sprite(switch_hover_left);
                    }
                }

                &.act {
                    .icon {
                        @include usb-debug-sprite(switch_press_left);
                    }
                }

                &.dis {
                    .icon {
                        @include usb-debug-sprite(switch_disable_left);
                    }
                }
            }

            &.right {
                right: 0;

                .icon {
                    @include usb-debug-sprite(switch_default);
                    right: 0;
                }

                &.hov {
                    .icon {
                        @include usb-debug-sprite(switch_hover);
                    }
                }

                &.act {
                    .icon {
                       @include usb-debug-sprite(switch_press);
                   }
                }

                &.dis {
                    .icon {
                        @include usb-debug-sprite(switch_disable);
                    }
                }
            }
        }
    }

    .warp {
        display: block;
        height: 280px;
        position: relative;
        white-space: nowrap;

        .course-li {
            @include inline-block;

            position: absolute;

            img {
                -webkit-transition: all .3s linear;
            }

            &.init {
                background: #f6f6f6;
                left: 333px;
                top: 20px;

                img {
                    @include opacity(0.6);
                    height: 240px;
                }
            }
        }
    }

    .navigation {
        margin-top: 10px;

        .number {
            @include usb-debug-sprite(bullet_list);
            @include inline-block();

            color: #fff;
            height: usb-debug-sprite-height(bullet_list);
            line-height: 27px;
            margin-left: 160px;
            margin-right: 5px;
            text-align: center;
            vertical-align: middle;
            width: usb-debug-sprite-width(bullet_list);
        }

        .steps-describe {
            margin-left: 5px;
        }

        .page {
            color: #c0c0c0;
            margin-left: 5px;
        }
    }

    .ul-container {
        overflow: hidden;
        position: relative;

        .pointer {
            @include usb-debug-sprite(arrow);

            display: none;
            height: usb-debug-sprite-height(arrow);
            position: absolute;
            width: usb-debug-sprite-width(arrow);
            z-index: 1000;

            &.up {
                @include usb-debug-sprite(arrow-up);
            }
        }
    }
}
